Repository hmcts/rd-judicial-api, pull requests merged in 2020-02, with the labels that each got.

#13 fix: master sonar fix
  build.gradle
  charts/rd-judicial-api/Chart.yaml
  charts/rd-judicial-api/values.yaml
Labels: ns:rd, rel:rd-judicial-api-pr-13

#14 fix: removed depreciation in values yaml and jenkins
  Jenkinsfile_CNP
  charts/rd-judicial-api/Chart.yaml
  charts/rd-judicial-api/values.preview.template.yaml
  charts/rd-judicial-api/values.yaml
Labels: ns:rd, rel:rd-judicial-api-pr-14

#15 fix: update flyway columns
  src/main/resources/db/migration/V1_2__alter_judicial_user_profile.sql
Labels: ns:rd, rel:rd-judicial-api-pr-15

#17 Dbmigration version v11
  database/Dockerfile
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:rd, rel:rd-judicial-api-pr-17

#18 added judicial role type to since foreign key is required for appointment table
  src/main/resources/db/migration/V1_3__insert_judicialrole_type.sql
Labels: ns:rd, rel:rd-judicial-api-pr-18

#19 Dbmigration version v11
  infrastructure/main.tf
Labels: ns:rd, rel:rd-judicial-api-pr-19

#20 updating db version to 11 .
  infrastructure/main.tf
Labels: ns:rd, rel:rd-judicial-api-pr-20
