Repository hmcts/rd-judicial-api, pull requests merged in 2021-08, with the labels that each got.

#157 FEAT: JRD : Add Service code column to Authorisations table
  src/main/resources/db/migration/V1_21__alter_judicial_office_authorisation.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-157

#158 Feat:JRD - Add ePIMS ID column to judicial_office_appointment table
  src/main/resources/db/migration/V1_22__alter_judicial_office_appointment.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-158

#159 RDCC-3169 - Update chart versions in all PRD repos
  charts/rd-judicial-api/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-159

#160 fix: Fix CVE for Jakarta(RDCC-3237)
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-160

#162 fixed dependency check
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-162

#164 fixed the security scan
  security.sh
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-164
