Repository hmcts/rd-judicial-api, pull requests merged in 2021-11, with the labels that each got.

#181 Bugfix: JRD : Ticket code is not populated for some records in judicial_office_authorisation table
  src/main/resources/db/migration/V1_28__update_ticket_code_mapping.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-181

#182 fix: CVE-2021-22096 by upgrading springboot version to 2.4.12
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-182

#183 Feat:SIDAM User creation for all object IDs
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/client/JudicialApiClient.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/configuration/LaunchDarklyConfiguration.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/feign/IdamUserFeignClient.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/request/RoleDetail.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/request/TestUserRequest.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/response/IdamUserProfileResponse.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/repository/IdamUserProfileRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/repository/UserProfileRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/service/IdamUserProfileService.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/service/JudicialUserService.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/service/impl/FeatureToggleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/service/impl/IdamUserProfileServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/util/JrdConstant.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/util/RefDataUtil.java
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-183

#174 feat: RDCC-3448 & RDCC-3447 JRD Refresh API to support Refresh Role Assignments
  charts/rd-judicial-api/Chart.yaml
  charts/rd-judicial-api/values.yaml
  src/contractTest/java/uk/gov/hmcts/reform/judicialapi/provider/JrdApiProviderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/RefreshUserProfileIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/util/JudicialReferenceDataClient.java
  src/integrationTest/resources/db/testmigration/V1_29__insert_refreshUser_testing.sql
  src/main/java/uk/gov/hmcts/reform/judicialapi/configuration/ApplicationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/configuration/FeignInterceptorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/configuration/LaunchDarklyConfiguration.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/JrdUsersController.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/advice/ExceptionMapper.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/advice/UserProfileException.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/request/RefreshRoleRequest.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/response/AppointmentRefreshResponse.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/response/AuthorisationRefreshResponse.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/response/LrdOrgInfoServiceResponse.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/response/UserProfileCreationResponse.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/response/UserProfileRefreshResponse.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/domain/Appointment.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/domain/Authorisation.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/domain/JudicialRoleType.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/domain/RegionMapping.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/domain/ServiceCodeMapping.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/domain/UserProfile.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/feign/LocationReferenceDataFeignClient.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/repository/RegionMappingRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/repository/ServiceCodeMappingRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/repository/UserProfileRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/service/JudicialUserService.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/service/impl/FeatureToggleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/service/impl/JudicialUserServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/util/JsonFeignResponseUtil.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/util/RefDataConstants.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/util/RequestUtils.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/validator/RefreshUserValidator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/controller/JrdUsersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/controller/advice/ExceptionMapperTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/service/impl/JudicialUserServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/util/JsonFeignResponseUtilTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/util/RequestUtilsTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-174

#187 Feat:JRD : SIDAM User creation for all object IDs
  audit.json
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/request/TestUserRequest.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/service/impl/IdamUserProfileServiceImpl.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-187

#189 RDCC-3644: JRD CVE suppression extension
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-189

#191 Publish Jenkins Report
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-191

#190 RDCC-1754: Replace deprecated methods with new (Java 8 to Java 11 migration)
  charts/rd-judicial-api/Chart.yaml
  charts/rd-judicial-api/values.yaml
  src/contractTest/java/uk/gov/hmcts/reform/judicialapi/provider/JrdApiProviderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/util/IntegrationTestOidcSecurityConfig.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/service/impl/JudicialUserServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-190

#194 Feature/rdcc 3506
  README.md
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/AuthorizationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/JudicialUsersFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/config/TestConfigProperties.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/FeatureToggleConditionExtension.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/serenity5/SerenityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/serenity5/SerenityTestWithoutReporting.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/serenity5/counter/TestCountListener.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/serenity5/counter/TestCounter.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/serenity5/extension/SerenityExtension.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/serenity5/extension/SerenityJUnitLifecycleAdapterExtension.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/serenity5/extension/SerenityManualExtension.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/serenity5/extension/SerenityReportExtension.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/serenity5/extension/SerenityStepExtension.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/serenity5/extension/page/PatchedManagedWebDriverAnnotatedField.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/serenity5/extension/page/SerenityPageExtension.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/serenity5/extension/page/TestConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/serenity5/extension/page/TestMethodAnnotations.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/serenity5/guice/JUnit5Module.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/serenity5/guice/JUnitInjectors.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/FetchUsersIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/RefreshUserProfileIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/SearchUsersIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/docs/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/util/IntegrationTestOidcSecurityConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/util/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/wiremock/WireMockExtension.java
  src/smokeTest/java/uk/gov/hmcts/reform/judicialapi/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/WelcomeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/constants/ErrorConstantsTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/controller/JrdUsersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/controller/WelcomeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/controller/advice/ErrorResponseTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/controller/advice/ExceptionMapperTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/controller/advice/ForbiddenExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/controller/advice/InvalidRequestExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/controller/advice/ResourceNotFoundExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/controller/response/AppointmentResponseTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/controller/response/AuthorisationResponseTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/controller/response/OrmResponseTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/domain/AppointmentTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/domain/AuthorisationTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/domain/BaseLocationTypeTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/domain/RegionTypeTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/domain/UserProfileTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/oidc/JwtGrantedAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/repository/IdamRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/service/impl/FeatureToggleServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/service/impl/JudicialUserServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/util/FeatureConditionEvaluationTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/util/JsonFeignResponseUtilTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/util/RefDataUtilTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/util/RequestUtilsTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-194

#192 Code Changes for populating only active roles in judicial refresh api
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/RefreshUserProfileIntegrationTest.java
  src/integrationTest/resources/db/testmigration/V1_29__insert_refreshUser_testing.sql
  src/main/java/uk/gov/hmcts/reform/judicialapi/service/impl/JudicialUserServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/service/impl/JudicialUserServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-192
