Repository hmcts/rd-judicial-api, pull requests merged in 2021-10, with the labels that each got.

#171 fix: RDCC-2920 Removed functional test cases as it will be addressed in integration test
  charts/rd-judicial-api/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/JudicialUsersFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/constants/SqlQueryConstant.java
  src/main/resources/db/migrationAks/V2_1__insert_user_profiles.sql
  src/main/resources/db/migrationAks/V2_2__insert_appt_auth_user_profile.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-171

#172 fix: RDCC-2920 Security scan fix
  audit.json
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-172

#163 RDCC-3234: implementing Spring Cache & Caffeine for Bearer Token
  build.gradle
  src/main/java/uk/gov/hmcts/reform/judicialapi/JudicialApplication.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/repository/IdamRepository.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/repository/IdamRepositoryTest.java
Labels: ns:rd, prd:rd, stale, rel:rd-judicial-api-pr-163

#179 feat: RDCC-3347 Updated the query in JRD Auto populate API to accommodate the ticket code changes
  src/contractTest/java/uk/gov/hmcts/reform/judicialapi/provider/JrdApiProviderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/SearchUsersIntegrationTest.java
  src/integrationTest/resources/db/testmigration/V1_25__alter_judicial_office_authorisation_include_ticket_code.sql
  src/integrationTest/resources/db/testmigration/V1_26__alter_judicial_service_code_mapping_table.sql
  src/integrationTest/resources/db/testmigration/V1_27__init_table_alter_tables.sql
  src/integrationTest/resources/db/testmigration/V1_28__insert_user_profile_auth_appt.sql
  src/main/java/uk/gov/hmcts/reform/judicialapi/domain/Authorisation.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/domain/ServiceCodeMapping.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/repository/ServiceCodeMappingRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/repository/UserProfileRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/service/impl/JudicialUserServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/service/impl/JudicialUserServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-179
