Repository hmcts/rd-judicial-api, pull requests merged in 2022-03, with the labels that each got.

#247 updated sql query
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/JudicialUsersFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/client/JudicialApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/RefreshUserProfileIntegrationTest.java
  src/integrationTest/resources/db/testmigration/V1_29__insert_refreshUser_testing.sql
  src/main/java/uk/gov/hmcts/reform/judicialapi/repository/UserProfileRepository.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-247

#243 imporved logging and cod refactor immutable code lambda expressions clean code etc
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/client/S2sClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/serenity5/counter/TestCountListener.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/serenity5/extension/page/TestMethodAnnotations.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/util/IntegrationTestOidcSecurityConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/util/JudicialReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/configuration/DataSourceConfig.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/advice/ErrorResponse.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/advice/ExceptionMapper.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/advice/UserProfileException.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/repository/IdamRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/repository/IdamUserProfileRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/service/IdamUserProfileService.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/service/impl/JudicialUserServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/TestSupport.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/repository/IdamRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/service/impl/FeatureToggleServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/util/FeatureConditionEvaluationTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-243

#251 fix: Resolved PACT provider failure by mocking all the values
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/judicialapi/provider/JrdApiProviderTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/util/FeatureConditionEvaluationTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/util/RequestUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/validator/RefreshUserValidatorTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-251

#249 fix: Updated java chart version to 3.7.2
  charts/rd-judicial-api/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-249

#248 added scriptAlter the JRD tables to add new columns in Personal table for HMC requirements
  src/main/resources/db/migration/V1_30__alter_jrd_tables.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-248

#254 RDCC-4163: collating Dependabot PRs
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-254

#266 fix: Ignored the fortify build failure and reduced mutation threshold
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-266

#255 exception handled for 4142
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/advice/ExceptionMapper.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/controller/advice/ExceptionMapperTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-255

#267 added personal code changes
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/judicialapi/provider/JrdApiProviderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/RefreshUserProfileIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/SearchUsersIntegrationTest.java
  src/integrationTest/resources/db/testmigration/V1_31__alter_jrd_tables.sql
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/request/RefreshRoleRequest.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/response/AppointmentRefreshResponse.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/response/UserProfileRefreshResponse.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/domain/Appointment.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/repository/UserProfileRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/service/impl/JudicialUserServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/util/FeatureConditionEvaluation.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/util/RefDataConstants.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/validator/RefreshUserValidator.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/TestSupport.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/controller/JrdUsersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/domain/AppointmentTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/service/impl/JudicialUserServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/util/RequestUtilsTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-267

#268 JRD : fix CVE-2020-36518
  build.gradle
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/response/AppointmentRefreshResponse.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/response/AuthorisationRefreshResponse.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/response/LrdOrgInfoServiceResponse.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/response/UserProfileRefreshResponse.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-268

#269 RDCC-4317: JRD API - Improve integration test case timings
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/wiremock/WireMockExtension.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-269

#270 RDCC-4331-CVE-2020-36518
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-270
