Repository hmcts/rd-judicial-api, pull requests merged in 2022-07, with the labels that each got.

#345 RDCC-5016: Adding Suppression for `CVE-2022-33915`
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-345

#350 RDCC-5000: Update the Base Location to ePIMS ID mapping table
  src/integrationTest/resources/db/testmigration/V1_36__update_judicial_location_mapping.sql
  src/main/resources/db/migration/V1_36__update_judicial_location_mapping.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-350

#346 Feat:RDCC-4997:Changes made to add and fix checkstyle
  config/checkstyle/checkstyle.xml
  src/contractTest/java/uk/gov/hmcts/reform/judicialapi/provider/JrdApiProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/AuthorizationFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/FetchUsersIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/RefreshUserProfileIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/util/AuthorizationEnabledIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/configuration/ApplicationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/configuration/DataSourceConfig.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/configuration/FeignConfiguration.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/configuration/FeignHeaderConfig.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/configuration/FeignInterceptorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/configuration/JacksonConfiguration.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/configuration/LaunchDarklyConfiguration.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/configuration/MethodSecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/configuration/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/configuration/SecurityEndpointFilter.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/configuration/ServiceTokenGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/JrdUsersController.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/advice/ErrorResponse.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/advice/UserProfileException.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/response/AuthorisationRefreshResponse.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/response/UserProfileRefreshResponse.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/domain/Appointment.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/domain/Authorisation.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/domain/JudicialRoleType.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/domain/RegionMapping.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/domain/ServiceCodeMapping.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/domain/UserProfile.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/oidc/JwtGrantedAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/repository/RegionMappingRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/repository/ServiceCodeMappingRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/service/impl/FeatureToggleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/util/FeatureConditionEvaluation.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/util/RequestUtils.java
  src/smokeTest/java/uk/gov/hmcts/reform/judicialapi/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/WelcomeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/controller/JrdUsersControllerTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/service/impl/JudicialUserServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/util/JsonFeignResponseUtilTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/util/RefDataUtilTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/validator/RefreshUserValidatorTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-346

#352 RDCC-5138: Adding Suppression for `CVE-2022-31569`
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-352

#354 RDCC-5145 Upgrade java chart version
  charts/rd-judicial-api/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-354

#351 updated sql query (Refresh api)
  src/main/java/uk/gov/hmcts/reform/judicialapi/repository/UserProfileRepository.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/service/impl/JudicialUserServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-351

#353 RDCC-5136 Configure the serviceCode from cnp-flux
  charts/rd-judicial-api/values.preview.template.yaml
  src/contractTest/java/uk/gov/hmcts/reform/judicialapi/provider/JrdApiProviderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/SearchUsersIntegrationTest.java
  src/integrationTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/judicialapi/repository/UserProfileRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/service/impl/JudicialUserServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/service/impl/JudicialUserServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-353

#355 Judicial - Update the Base Location to ePIMS ID mapping table
  src/integrationTest/resources/db/testmigration/V1_37__update_judicial_location_mapping.sql
  src/main/resources/db/migration/V1_37__update_judicial_location_mapping.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-355

#356 RDCC-5162 Delete dependabot yaml file
  .github/dependabot.yml
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-356
