Repository hmcts/rd-judicial-api, pull requests merged in 2022-04, with the labels that each got.

#273 RDCC-4402: CVE Fix
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-273

#276 Nightly Build failure issues
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-276

#274 JRD : Update the Service Code & Ticket Code mapping table for SSCS Service
  src/main/resources/db/migration/V1_31__update_jrd_tables.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-274

#280 JRD API -Nightly build failure -25/04/2022
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-280

#275 RDCC-4356: Use the New Common Library in Judicial Reference Data
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/JudicialUsersFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/CustomSerenityRunner.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/serenity5/SerenityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/serenity5/SerenityTestWithoutReporting.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/serenity5/counter/TestCountListener.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/serenity5/counter/TestCounter.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/serenity5/extension/SerenityExtension.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/serenity5/extension/SerenityJUnitLifecycleAdapterExtension.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/serenity5/extension/SerenityManualExtension.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/serenity5/extension/SerenityReportExtension.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/serenity5/extension/SerenityStepExtension.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/serenity5/extension/page/PatchedManagedWebDriverAnnotatedField.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/serenity5/extension/page/SerenityPageExtension.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/serenity5/extension/page/TestConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/serenity5/extension/page/TestMethodAnnotations.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/serenity5/guice/JUnit5Module.java
  src/functionalTest/java/uk/gov/hmcts/reform/judicialapi/util/serenity5/guice/JUnitInjectors.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/service/impl/JudicialUserServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-275

#277 jdk 17 changes
  Dockerfile
  build.gradle
  docker-compose.yml
  src/contractTest/java/uk/gov/hmcts/reform/judicialapi/provider/JrdApiProviderTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/util/JsonFeignResponseUtilTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-277

#279 Avoid Returning Duplicate Records
  src/main/java/uk/gov/hmcts/reform/judicialapi/service/impl/JudicialUserServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/util/RefDataUtil.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/service/impl/JudicialUserServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/util/RefDataUtilTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-279

#281 Feat:Judicial Reference API Master Build Failure Fix
  src/main/java/uk/gov/hmcts/reform/judicialapi/service/impl/JudicialUserServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/util/RefDataUtil.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/validator/RefreshUserValidator.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-281
