Repository hmcts/rd-judicial-api, pull requests merged in 2022-11, with the labels that each got.

#372 RDCC-5778: Upgrading `tomcat` to version `9.0.68`
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-372

#371 Feat:RDCC-5738:RDCC-5738:JRD : Update the Judicial Service Code mapping table for Family Public Law & Financial Remedy Services
  src/integrationTest/resources/db/testmigration/V1_40__update_judicial_service_code_mapping.sql
  src/main/resources/db/migration/V1_40__update_judicial_service_code_mapping.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-371

#374 Feat:Containerisation of integration test cases
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/docs/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/util/JudicialApiPostgresqlContainer.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/util/SpringBootIntegrationTest.java
  src/integrationTest/resources/application-test.yml
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-374

#378 Upgrade Terraform version 1.3.X :: RDCC-5894
  infrastructure/.terraform-version
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-378

#376 RDCC-5868
  src/integrationTest/resources/db/testmigration/V1_41__create_elinks_schema.sql
  src/integrationTest/resources/db/testmigration/V1_42__elinks_init_schema.sql
  src/integrationTest/resources/db/testmigration/V1_43__elinks_insert_judicial_location_mapping.sql
  src/integrationTest/resources/db/testmigration/V1_44__elinks_insert_jrd_lrd_region_mapping.sql
  src/integrationTest/resources/db/testmigration/V1_45__elinks_insert_judicial_service_code_mapping.sql
  src/integrationTest/resources/db/testmigration/V1_46__elinks_insert_judicial_ticket_code_mapping.sql
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1_41__create_elinks_schema.sql
  src/main/resources/db/migration/V1_42__elinks_init_schema.sql
  src/main/resources/db/migration/V1_43__elinks_insert_judicial_location_mapping.sql
  src/main/resources/db/migration/V1_44__elinks_insert_jrd_lrd_region_mapping.sql
  src/main/resources/db/migration/V1_45__elinks_insert_judicial_service_code_mapping.sql
  src/main/resources/db/migration/V1_46__elinks_insert_judicial_ticket_code_mapping.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-376

#388 CVE Fix for Postgresql
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-388
