Repository hmcts/rd-judicial-api, pull requests merged in 2023-01, with the labels that each got.

#400 RDCC-5992: elinks Wrapper API for e-HR People - Development
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/resources/application-test.yml
  src/integrationTest/resources/db/testmigration/V1_48__elinks_alter_tables.sql
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/controller/ElinksController.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/controller/request/AppointmentsRequest.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/controller/request/AuthorisationsRequest.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/controller/request/PaginationRequest.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/controller/request/PeopleRequest.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/controller/request/ResultsRequest.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/domain/Appointment.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/domain/Authorisation.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/domain/ElinkDataSchedularAudit.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/domain/LocationMapping.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/domain/UserProfile.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/feign/ElinksFeignClient.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/repository/AppointmentsRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/repository/AuthorisationsRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/repository/DataloadSchedularAuditRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/repository/LocationMapppingRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/repository/LocationRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/repository/ProfileRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/ElinksPeopleService.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/RefDataElinksConstants.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1_48__elinks_alter_tables.sql
  src/main/resources/db/migration/V1_50__elinks_alter_tables.sql
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/controller/ElinksControllerTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-400

#401 eLinks : Write audit utility method for updating dataload_schedular_audit table : RDCC - 6088
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/repository/ElinkSchedularAuditRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/ElinkDataIngestionSchedularAudit.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/domain/ElinkDataSchedularAuditTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/util/ElinkDataIngestionSchedularAuditTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-401

#404 RDCC-6118: Adding suppression for `CVE-2021-4277`
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-404

#406 Rdcc 6080
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/PeopleIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/util/ElinksEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/util/ElinksReferenceDataClient.java
  src/integrationTest/resources/application-test.yml
  src/integrationTest/resources/db/testmigration/V1_50__elinks_alter_tables.sql
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/controller/ElinksController.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/response/ElinkPeopleWrapperResponse.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/ElinksPeopleService.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/CommonUtil.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/RefDataElinksConstants.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/controller/ElinksControllerTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-406

#407 RDCC-6130: Adding suppressions for `CVE-2022-3064` & `CVE-2021-4235`
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-407

#412 Rdcc 6080 fix3
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-412

#405 Rdcc 6020
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/LeaversIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/util/ElinksEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/util/ElinksReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/controller/ElinksController.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/controller/request/ResultsRequest.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/feign/ElinksFeignClient.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/response/ElinkLeaversWrapperResponse.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/ELinksService.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ELinksServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/RefDataElinksConstants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/controller/ElinksControllerTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksLeaversServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-405

#420 RDCC-6139: Upgrading Tomcat to `9.0.69` to fix `CVE-2022-45143`
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-420

#422 change the implementation for IDM search query
  build.gradle
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/IdamElasticSearchServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/RefDataElinksConstants.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/SqlConstants.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/IdamElasticSearchServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-422

#416 RDCC-6081: eLinks - Integration Test Cases for Locations API
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/LocationsIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/util/ElinksEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/util/ElinksReferenceDataClient.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-416

#424 Rdcc 6138
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/LeaversIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/util/ElinksEnabledIntegrationTest.java
  src/integrationTest/resources/db/testmigration/V1_50__elinks_alter_tables.sql
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/domain/ElinkDataSchedularAudit.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/repository/ElinkSchedularAuditRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ELinksServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/ElinkDataIngestionSchedularAudit.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/RefDataElinksConstants.java
  src/main/resources/db/migration/V1_50__elinks_alter_tables.sql
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksLeaversServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/util/ElinkDataIngestionSchedularAuditTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-424

#428 Feat:RDCC-6134:Changes made to add negative integration test cases
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/NegativeIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/util/ElinksReferenceDataClient.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-428

#427 Rdcc 6026
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/LeaversIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/NegativeIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ELinksServiceImpl.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-427

#429 Added the integration test cases
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/IdamElasticSearchIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/NegativeIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/util/ElinksEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/util/ElinksReferenceDataClient.java
  src/integrationTest/resources/db/testmigration/V1_49__elinks_alter_dataload_schedular_audit.sql
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/controller/ElinksController.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/IdamElasticSearchService.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/IdamElasticSearchServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/RefDataElinksConstants.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/controller/ElinksControllerTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/IdamElasticSearchServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-429

#432 Feat:RDCC-6134:Negative scenarios to be covered in Functional Test
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/NegativeIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/util/ElinksReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/RefDataElinksConstants.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-432

#433 Feat:RDCC-6163:eLinks :Auditing functionality for Locations API
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/LocationsIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ELinksServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ELinksServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-433

#430 RDCC-6082: eLinks : Integration Test Cases & Auditing functionality for Base Locations API
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/BaseLocationsIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/NegativeIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/util/ElinksEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/util/ElinksReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ELinksServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/RefDataElinksConstants.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ELinksBaseLocationServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-430

#437 Feat:Create a Scheduler job to call all the newly developed 6 APIs
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/SchedulerElinksJobIntegrationTest.java
  src/integrationTest/resources/application-test.yml
  src/integrationTest/resources/db/testmigration/V1_51__elinks_alter_tables.sql
  src/main/java/uk/gov/hmcts/reform/judicialapi/JudicialApplication.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/domain/DataloadSchedulerJob.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/repository/DataloadSchedulerJobRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/scheduler/ElinksApiJobScheduler.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/DataloadSchedulerJobAudit.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1_51__elinks_alter_tables.sql
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/repository/DataloadSchedulerJobRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/scheduler/ElinksApiJobSchedulerTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-437

#441 Revert "Rdcc 6133 new"
  src/integrationTest/resources/db/testmigration/V1_50__elinks_alter_tables.sql
  src/integrationTest/resources/db/testmigration/insert_base_locations.sql
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/domain/ElinkDataExceptionRecords.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/repository/BaseLocationRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/repository/ElinkDataExceptionRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/ElinkDataExceptionHelper.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/ElinkDataIngestionSchedularAudit.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/RefDataElinksConstants.java
  src/main/resources/db/migration/V1_50__elinks_alter_tables.sql
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-441

#443 Revert "Rdcc 6133 new"
  src/integrationTest/resources/db/testmigration/V1_50__elinks_alter_tables.sql
  src/integrationTest/resources/db/testmigration/insert_base_locations.sql
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/domain/ElinkDataExceptionRecords.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/repository/BaseLocationRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/repository/ElinkDataExceptionRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/ElinkDataExceptionHelper.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/ElinkDataIngestionSchedularAudit.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/RefDataElinksConstants.java
  src/main/resources/db/migration/V1_50__elinks_alter_tables.sql
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-443

#444 Rdcc exclude appointments
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/LeaversIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/NegativeIntegrationTest.java
  src/integrationTest/resources/db/testmigration/V1_49__elinks_alter_dataload_schedular_audit.sql
  src/integrationTest/resources/db/testmigration/V1_50__elinks_alter_tables.sql
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/domain/ElinkDataExceptionRecords.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/repository/ElinkDataExceptionRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/ElinkDataExceptionHelper.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/RefDataElinksConstants.java
  src/main/resources/db/migration/V1_49__elinks_alter_dataload_schedular_audit.sql
  src/main/resources/db/migration/V1_50__elinks_alter_tables.sql
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-444

#445 Revert "Rdcc exclude appointments"
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/LeaversIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/NegativeIntegrationTest.java
  src/integrationTest/resources/db/testmigration/V1_49__elinks_alter_dataload_schedular_audit.sql
  src/integrationTest/resources/db/testmigration/V1_50__elinks_alter_tables.sql
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/domain/ElinkDataExceptionRecords.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/repository/ElinkDataExceptionRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/ElinkDataExceptionHelper.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/RefDataElinksConstants.java
  src/main/resources/db/migration/V1_49__elinks_alter_dataload_schedular_audit.sql
  src/main/resources/db/migration/V1_50__elinks_alter_tables.sql
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-445

#449 Publishing the SIDAM ids to Azure Service Bus
  build.gradle
  charts/rd-judicial-api/Chart.yaml
  charts/rd-judicial-api/values.preview.template.yaml
  charts/rd-judicial-api/values.yaml
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/NegativeIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/PublishSidamIdIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/util/ElinksReferenceDataClient.java
  src/integrationTest/resources/application-test.yml
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/configuration/ElinkEmailConfiguration.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/configuration/ElinkMessagingConfig.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/configuration/PublishingData.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/configuration/SendGridConfig.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/controller/ElinksController.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/response/SchedulerJobStatusResponse.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/IEmailService.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/PublishSidamIdService.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/dto/Email.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/exception/EmailFailureException.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/EmailServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/PublishSidamIdServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/servicebus/ElinkTopicPublisher.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/JobStatus.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/RefDataConstants.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/SqlContants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/PublishSidamIdServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/servicebus/ElinkTopicPublisherTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-449

#457 Feat:eLinks - Cleanup of temporary data from Integration & functional test cases
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/BaseLocationsIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/IdamElasticSearchIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/LeaversIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/LocationsIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/NegativeIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/PeopleIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/SchedulerElinksJobIntegrationTest.java
  src/integrationTest/resources/application-test.yml
  src/main/java/uk/gov/hmcts/reform/judicialapi/JudicialApplication.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/configuration/SchedulerConfig.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/scheduler/ElinksApiJobScheduler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/scheduler/ElinksApiJobSchedulerTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-457
