Repository hmcts/rd-judicial-api, pull requests merged in 2023-02, with the labels that each got.

#463 Feat:RDCC-SonarCodeIssue:To fix code coverage issue
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-463

#465 Feat:To fix sonar code issue
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-465

#466 Feat:To fix sonar code coverage
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-466

#461 RDCC-6259: Adding & Upgrading Dependencies
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-461

#460 ASB Publishing Final Adding to Schedular
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinkClientsCommonIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/SchedulerElinksJobIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/scheduler/ElinksApiJobScheduler.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/PublishSidamIdServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/RefDataElinksConstants.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-460

#453 Rdcc 6227- Audit functionality for People API.
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinkClientsCommonIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/LeaversIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/PeopleIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/RefDataElinksConstants.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-453

#470 Feat:RDCC-6027:Changes made to merge code to master
  src/integrationTest/resources/db/testmigration/V1_49__elinks_alter_tables.sql
  src/integrationTest/resources/db/testmigration/V1_50__elinks_create_dataload_schedular_job.sql
  src/main/resources/db/migration/V1_49__elinks_alter_tables.sql
  src/main/resources/db/migration/V1_50__elinks_create_dataload_schedular_job.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-470

#476 Rdcc 6215 500errors
  build.gradle
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/controller/ElinksController.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/PublishSidamIdService.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/PublishSidamIdServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/servicebus/ElinkTopicPublisher.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/RefDataElinksConstants.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/PublishSidamIdServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-476

#456 Rdcc 6225 spring boot upgrade 2.7.7
  Dockerfile
  build.gradle
  charts/rd-judicial-api/Chart.yaml
  config/owasp/suppressions.xml
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/FetchUsersIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/RefreshUserProfileIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/SearchUsersIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/docs/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/util/JudicialReferenceDataClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/util/JwtTokenUtil.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/util/KeyGenUtil.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/util/SpringBootIntegrationTest.java
  src/integrationTest/resources/application-test.yml
  src/main/java/uk/gov/hmcts/reform/judicialapi/configuration/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/configuration/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/JrdUsersController.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/request/UserSearchRequest.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/oidc/JwtGrantedAuthoritiesConverter.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/judicialapi/controller/oidc/JwtGrantedAuthoritiesConverterTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-456

#484 RDCC-6364: Adding entry to `audit.json`
  audit.json
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-484

#486 Upgrade : APP_INSIGHTS_AGENT_VERSION to 3.4.9
  .github/renovate.json
  Dockerfile
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-486

#485 RDCc-Final fix
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/BaseLocationsIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinkClientsCommonIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/PeopleIntegrationTest.java
  src/integrationTest/resources/db/testmigration/V1_50__elinks_alter_tables.sql
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/util/ElinkDataIngestionSchedularAuditTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-485

#478 Rdcc 6215 401
  charts/rd-judicial-api/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/EmailServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/PublishSidamIdServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/servicebus/ElinkTopicPublisher.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/RefDataElinksConstants.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/EmailServiceTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-478

#489 Upgrade : versions.reformLogging to 6.0.1
  Dockerfile
  build.gradle
  charts/rd-judicial-api/values.yaml
  lib/applicationinsights.json
  web.config
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-489

#491 Rdcc 6215 401
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/servicebus/ElinkTopicPublisher.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/RefDataElinksConstants.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-491

#492 RDCC-6374: Upgrading chart version to 4.0.13
  charts/rd-judicial-api/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-492

#494 Rdcc 6215 401
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/RefDataElinksConstants.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-494

#495 RDCC-6432: Adding Suppression for `CVE-2022-45688`
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-495
