Repository hmcts/rd-judicial-api, pull requests merged in 2023-07, with the labels that each got.

#582 Update build.gradle
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-582

#587 eLinks : Region mapping table updates for eLinks V5.0
  src/main/resources/db/migration/V1_63__elinks_insert_cft_region_type_table.sql
  src/main/resources/db/migration/V1_64__elinks_update_jrd_lrd_region_mapping_table.sql
Labels: ns:rd, prd:rd, no-changes, rel:rd-judicial-api-pr-587

#590 Rdcc 6843n merging to dev-elinks
  build.gradle
  charts/rd-judicial-api/Chart.yaml
  charts/rd-judicial-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  lib/applicationinsights.json
  src/integrationTest/resources/db/testmigration/V1_49__elinks_alter_tables.sql
  src/integrationTest/resources/db/testmigration/V1_57__elinks_alter.sql
  src/integrationTest/resources/db/testmigration/V1_59__elinks_insert_judicial_location_mapping_table.sql
  src/integrationTest/resources/db/testmigration/V1_60__insert_judicial_location_mapping_table.sql
  src/integrationTest/resources/db/testmigration/V1_61__alter_judicial_user_profile_extracted_date.sql
  src/main/resources/db/migration/V1_49__elinks_alter_tables.sql
  src/main/resources/db/migration/V1_58__elinks_alter.sql
  src/main/resources/db/migration/V1_59__elinks_insert_judicial_location_mapping_table.sql
  src/main/resources/db/migration/V1_60__insert_judicial_location_mapping_table.sql
  src/main/resources/db/migration/V1_61__alter_judicial_user_profile_extracted_date.sql
  src/main/resources/db/migration/V1_62__elinks_judicial_location_mapping_table.sql
  src/main/resources/db/migration/V1_63__elinks_insert_cft_region_type_table.sql
  src/main/resources/db/migration/V1_64__elinks_update_jrd_lrd_region_mapping_table.sql
Labels: ns:rd, prd:rd, no-changes, rel:rd-judicial-api-pr-590

#592 eLinks : Data model changes for eLinks V5.0
  src/integrationTest/resources/db/testmigration/V1_59__elinks_insert_judicial_location_mapping_table.sql
  src/integrationTest/resources/db/testmigration/V1_59__elinks_test_data_users.sql
  src/main/resources/db/migration/V1_65__elinks_sequence_judicial_role_type_table.sql
  src/main/resources/db/migration/V1_66__elinks_alter_tables.sql
Labels: ns:rd, prd:rd, no-changes, rel:rd-judicial-api-pr-592

#591 eLinks : Data model changes for eLinks V5.0
  src/integrationTest/resources/db/testmigration/V1_65__elinks_sequence_judicial_role_type_table.sql
  src/integrationTest/resources/db/testmigration/V1_66__elinks_alter_tables.sql
  src/main/resources/db/migration/V1_65__elinks_sequence_judicial_role_type_table.sql
  src/main/resources/db/migration/V1_66__elinks_alter_tables.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-591

#594 flyway script
  src/main/resources/db/migration/V1_67__elinks_alter_tables.sql
  src/main/resources/db/migration/V1_68__elinks_insert_judicial_location_mapping_tables.sql
Labels: ns:rd, prd:rd, no-changes, rel:rd-judicial-api-pr-594

#595 flyway
  src/integrationTest/resources/db/testmigration/V1_62__elinks_judicial_location_mapping_table.sql
  src/integrationTest/resources/db/testmigration/V1_63__elinks_insert_cft_region_type_table.sql
  src/integrationTest/resources/db/testmigration/V1_64__elinks_update_jrd_lrd_region_mapping_table.sql
  src/integrationTest/resources/db/testmigration/V1_65__elinks_sequence_judicial_role_type_table.sql
  src/integrationTest/resources/db/testmigration/V1_66__elinks_alter_tables.sql
  src/main/resources/db/migration/V1_67__elinks_alter_tables.sql
  src/main/resources/db/migration/V1_68__elinks_insert_judicial_location_mapping_tables.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-595

#593 elinks - delete API
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/DeletedIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinksFailedApiPublishingStatusEndToEndIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinksFailedForExtraBaseLocationIdEndToEndIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/util/ElinksEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/util/ElinksReferenceDataClient.java
  src/integrationTest/resources/db/testmigration/V1_66__elinks_alter_tables.sql
  src/integrationTest/resources/wiremock_responses/deleted.json
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/controller/ElinksController.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/controller/request/ResultsRequest.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/controller/response/DeletedResponse.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/controller/response/ElinksDeleteApiResponse.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/domain/UserProfile.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/feign/ElinksFeignClient.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/repository/DataloadSchedularAuditRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/response/ElinkDeletedWrapperResponse.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/scheduler/ElinksApiJobScheduler.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/ELinksService.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ELinksServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/RefDataElinksConstants.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/controller/ElinksControllerTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/scheduler/ElinksApiJobSchedulerTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksDeletedServiceImplTest.java
Labels: ns:rd, prd:rd, no-changes, rel:rd-judicial-api-pr-593

#602 CVE suppression CVE-2023-34034
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-602
