Repository hmcts/rd-judicial-api, pull requests merged in 2023-09, with the labels that each got.

#636 pa
  src/contractTest/java/uk/gov/hmcts/reform/judicialapi/provider/JrdApiProviderV2Test.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-636

#639 DTSRD-1189
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-639

#640 Dtsrd 1144
  src/integrationTest/resources/db/testmigration/V1_80__elinks_service_code_mapping.sql
  src/integrationTest/resources/db/testmigration/V1_81__judicial_service_code_mapping.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-640

#642 Dtsrd 1144 new
  src/main/resources/db/migration/V1_78__elinks_service_code_mapping.sql
  src/main/resources/db/migration/V1_79__judicial_service_code_mapping.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-642

#634 sorting and pagination for refresh api
  config/owasp/suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/judicialapi/provider/JrdApiProviderV2Test.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinksAuthorisationsIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinksEndToEndIntegrationForExistingObjectId.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinksEndToEndIntegrationForObjectId.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinksEndToEndIntegrationPartialTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinksEndToEndIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinksFailedForExtraBaseLocationIdEndToEndIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/PeopleIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/PublishSidamIdIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/util/ElinksReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/controller/JrdElinkController.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/domain/UserProfile.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/repository/ProfileRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/response/UserSearchResponseWrapper.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinkUserServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/controller/response/UserSearchResponseWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinkUserServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-634, enable_keep_helm

#641 eLinks: Expand the supported character list in Type-ahead API
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/CheckForSearchV2UsersIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/controller/request/UserSearchRequest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-641, enable_keep_helm

#647 DTSRD-1220
  .github/renovate.json
  renovate.json
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-647

#649 Rdcc 7010
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinksEndToEndIntegrationPartialTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinksEndToEndIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinksFailedForExtraBaseLocationIdEndToEndIntegrationTest.java
  src/integrationTest/resources/db/testmigration/V1_84__elinks_alter_dataload_exception_records.sql
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/repository/ProfileRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/IdamElasticSearchServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/RefDataElinksConstants.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/SendEmail.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1_82__elinks_alter_dataload_exception_records.sql
  src/main/resources/templates/simple-template-objectId.ftl
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/IdamElasticSearchServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/util/SendEmailTest.java
Labels: ns:rd, prd:rd, enable_keep_helm, rel:rd-judicial-api-pr-649

#648 eLinks: Create new table to store eLinks API response
  src/integrationTest/resources/db/testmigration/V1_85__elinks_create_elinks_responses_table.sql
  src/main/resources/db/migration/V1_83__elinks_create_elinks_responses_table.sql
Labels: ns:rd, prd:rd, enable_keep_helm, rel:rd-judicial-api-pr-648

#650 not to populate service codes in refresh api when service codes are e…
  src/contractTest/java/uk/gov/hmcts/reform/judicialapi/provider/JrdApiProviderV2Test.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinkUserServiceImpl.java
Labels: ns:rd, prd:rd, enable_keep_helm, rel:rd-judicial-api-pr-650

#655 eLinks : Update the judiciary_role_id population logic in JRD Refresh…
  charts/rd-judicial-api/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinkUserServiceImpl.java
Labels: ns:rd, prd:rd, enable_keep_helm, rel:rd-judicial-api-pr-655

#657 content type changes
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/SearchUsersIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/CheckForSearchV2UsersIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/util/JudicialReferenceDataClient.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/controller/JrdElinkController.java
Labels: ns:rd, prd:rd, enable_keep_helm, rel:rd-judicial-api-pr-657
