Repository hmcts/rd-judicial-api, pull requests merged in 2023-08, with the labels that each got.

#600 insert script
  src/main/resources/db/migration/V1_70__elinks_insert_judicial_ticket_code_type.sql
Labels: ns:rd, prd:rd, no-changes, rel:rd-judicial-api-pr-600

#599 insert script
  src/main/resources/db/migration/V1_70__elinks_insert_judicial_ticket_code_type.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-599

#606 eLinks: Region Mapping Update
  src/integrationTest/resources/db/testmigration/V1_52__elinks_alter_tables.sql
  src/integrationTest/resources/db/testmigration/V1_72__elinks_insert_jrd_lrd_region_mapping.sql
  src/main/resources/db/migration/V1_72__elinks_insert_jrd_lrd_region_mapping.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-606

#584 JRD : Data model changes for eLinks V5.0
  src/integrationTest/resources/db/testmigration/V1_59__elinks_insert_judicial_location_mapping_table.sql
  src/integrationTest/resources/db/testmigration/V1_60__insert_judicial_location_mapping_table.sql
  src/integrationTest/resources/db/testmigration/V1_61__alter_judicial_user_profile_extracted_date.sql
  src/integrationTest/resources/db/testmigration/V1_62__elinks_judicial_location_mapping_table.sql
  src/integrationTest/resources/db/testmigration/V1_63__elinks_insert_cft_region_type_table.sql
  src/integrationTest/resources/db/testmigration/V1_64__elinks_update_jrd_lrd_region_mapping_table.sql
  src/integrationTest/resources/db/testmigration/V1_66__elinks_sequence_judicial_role_type_table.sql
  src/integrationTest/resources/db/testmigration/V1_67__elinks_insert_judicial_location_maping_table.sql
  src/integrationTest/resources/db/testmigration/V1_68__elinks_alter_table.sql
  src/integrationTest/resources/db/testmigration/V1_69__elinks_alter_tables.sql
  src/integrationTest/resources/db/testmigration/V1_70__elinks_alter_dataload_exception.sql
  src/integrationTest/resources/db/testmigration/V1_71__elinks_insert_judicial_ticket_location_mapping.sql
  src/integrationTest/resources/db/testmigration/V1_72__elinks_insert_jrd_lrd_region_mapping.sql
  src/main/resources/db/migration/V1_61__alter_judicial_user_profile_extracted_date.sql
  src/main/resources/db/migration/V1_62__elinks_judicial_location_mapping_table.sql
  src/main/resources/db/migration/V1_63__elinks_insert_cft_region_type_table.sql
  src/main/resources/db/migration/V1_64__elinks_update_jrd_lrd_region_mapping_table.sql
  src/main/resources/db/migration/V1_65__elinks_sequence_judicial_role_type_table.sql
  src/main/resources/db/migration/V1_66__elinks_alter_tables.sql
  src/main/resources/db/migration/V1_67__elinks_alter_tables.sql
  src/main/resources/db/migration/V1_68__elinks_insert_judicial_location_mapping_tables.sql
  src/main/resources/db/migration/V1_69__elinks_alter_exception_table.sql
  src/main/resources/db/migration/V1_70__elinks_insert_judicial_ticket_code_type.sql
  src/main/resources/db/migration/V1_71__elinks_insert_judicial_ticket_location_mapping.sql
  src/main/resources/db/migration/V1_72__elinks_insert_jrd_lrd_region_mapping.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-584

#608 New scope
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/repository/ProfileRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/service/impl/FeatureToggleServiceImpl.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-608

#605 eLinks : update the JRD type ahead API
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/BaseLocationsIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/CheckForSearchV2UsersIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/DeletedIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinkClientsCommonIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinksEndToEndIntegrationPartialTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinksEndToEndIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinksFailedApiPublishingStatusEndToEndIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinksFailedForExtraBaseLocationIdEndToEndIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/LeaversIntegrationTest.java
  src/integrationTest/resources/db/testmigration/V1_73__elinks_alter_dataload_exception.sql
  src/integrationTest/resources/db/testmigration/V1_74__elinks_insert_user_profile.sql
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/controller/JrdElinkController.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/controller/request/UserSearchRequest.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/repository/ProfileRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/ElinkUserService.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinkUserServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinkUserServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-605

#609 Rdcc 6958
  build.gradle
  src/integrationTest/resources/db/testmigration/V1_75__elinks_insert_jrd_lrd_region_mapping.sql
  src/main/resources/db/migration/V1_75__elinks_insert_jrd_lrd_region_mapping.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-609

#611 DTSRD-644: Update Judicial_ticket_code_mapping static table for Authorisations
  src/integrationTest/resources/db/testmigration/V1_73__judicial_service_code_mapping.sql
  src/integrationTest/resources/db/testmigration/V1_74__judicial_ticket_code_mapping.sql
  src/main/resources/db/migration/V1_73__judicial_service_code_mapping.sql
  src/main/resources/db/migration/V1_74__judicial_ticket_code_mapping.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-611

#616 Rdcc new
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/RefDataElinksConstants.java
  src/main/resources/db/migration/V1_76__elinks_alter_appointment_foreign_key_nonNull.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-616

#617 Rdcc suppress CVE
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-617

#612 Rdcc 6937
  build.gradle
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/configuration/FreemarkerConfig.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/repository/ElinkDataExceptionRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/exception/EmailException.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/EmailTemplate.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/RefDataElinksConstants.java
  src/main/resources/application.yaml
  src/main/resources/templates/lower-level-auth.ftl
  src/main/resources/templates/simple-template-baseLocationId.ftl
  src/main/resources/templates/simple-template-regionId.ftl
  src/main/resources/templates/simple-template-userProfile.ftl
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-612

#618 Rdcc 6984
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinksAuthorisationsIntegrationTest.java
  src/integrationTest/resources/db/testmigration/V1_76__elinks_alter_appointment_foreign_key_nonNull.sql
  src/integrationTest/resources/wiremock_responses/people_null_appointmentId.json
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/RefDataElinksConstants.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-618

#619 Rdcc 6997
  build.gradle
  charts/rd-judicial-api/values.preview.template.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinksLoadPeopleDataWithDuplicate.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleDeleteServiceimplTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/EmailServiceTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/util/DataloadSchedulerJobAuditTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-619

#620 eLinks: Merge code to Master
  charts/rd-judicial-api/values.yaml
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinksAuthorisationsIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinksEndToEndIntegrationForObjectId.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinksEndToEndIntegrationPartialTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinksFailedForExtraBaseLocationIdEndToEndIntegrationTest.java
  src/integrationTest/resources/db/testmigration/V1_75__elinks_insert_jrd_lrd_region_mapping.sql
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/controller/request/ResultsRequest.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/feign/ElinksFeignClient.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/controller/response/UserSearchResponseWrapperTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/util/RequestUtilsTest.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-620

#626 refresh api swagger change response
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/controller/JrdElinkController.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-626

#624 flyway changes
  src/integrationTest/resources/db/testmigration/V1_79__elinks_insert_jrd_lrd_region_mapping.sql
  src/main/resources/db/migration/V1_77__elinks_insert_jrd_lrd_region_mapping.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-624

#632 Dtsrd 1173
  audit.json
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-632
