Repository hmcts/rd-judicial-api, pull requests merged in 2023-11, with the labels that each got.

#680 eLinks : Region Mapping Update
  src/integrationTest/resources/db/testmigration/V1_89__elinks_insert_jrd_lrd_region_mapping.sql
  src/main/resources/db/migration/V1_87__elinks_insert_jrd_lrd_region_mapping.sql
Labels: ns:rd, prd:rd, enable_keep_helm, rel:rd-judicial-api-pr-680

#683 changes with location mapping
  charts/rd-judicial-api/values.preview.template.yaml
  src/contractTest/java/uk/gov/hmcts/reform/judicialapi/provider/JrdApiProviderV2Test.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinksFailedForExtraBaseLocationIdEndToEndIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/domain/Appointment.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/repository/LocationMapppingRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinkUserServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ELinksServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinkUserServiceImplTest.java
Labels: ns:rd, prd:rd, enable_keep_helm, rel:rd-judicial-api-pr-683

#682 eLinks : Add flag in CNP flux to override the date of ingestion from eLinks
  charts/rd-judicial-api/Chart.yaml
  charts/rd-judicial-api/values.preview.template.yaml
  charts/rd-judicial-api/values.yaml
  src/integrationTest/resources/application-test.yml
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/scheduler/ElinksApiJobScheduler.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ELinksServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/IdamElasticSearchServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/PublishSidamIdServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/SqlConstants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksDeletedServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksLeaversServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImplTest.java
Labels: ns:rd, prd:rd, enable_keep_helm, rel:rd-judicial-api-pr-682

#687 DTSRD-1466.Updating schema parameter with hibernate
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-687

#551 Feat:Changes made to enhance wiremock response
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/util/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/util/IntegrationTestOidcSecurityConfig.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/util/WireMockUtil.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-551

#688 values.preview resetting
  charts/rd-judicial-api/values.preview.template.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-688

#689 Rdcc get access
  charts/rd-judicial-api/Chart.yaml
  charts/rd-judicial-api/values.preview.template.yaml
  charts/rd-judicial-api/values.yaml
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1_88__elinks_grant_access_dbjudicialdata
Labels: ns:rd, prd:rd, enable_keep_helm, rel:rd-judicial-api-pr-689

#690 Rdcc get access
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1_88__elinks_grant_access_dbjudicialdata.sql
Labels: ns:rd, prd:rd, enable_keep_helm, rel:rd-judicial-api-pr-690

#692 Rdcc get access
  src/main/resources/db/migration/V1_88__elinks_grant_access_dbjudicialdata.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-692

#691 Update acb.tpl.yaml
  acb.tpl.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-691

#693 Rdcc get access
  build.gradle
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-693

#694 Rdcc get access
  Jenkinsfile_CNP
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-694

#695 Rdcc get access
  Jenkinsfile_CNP
Labels: ns:rd, prd:rd, enable_keep_helm, rel:rd-judicial-api-pr-695

#697 Rdcc get access
  build.gradle
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-697

#698 Rdcc prod db access
  Jenkinsfile_CNP
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-698

#700 Suppresses CVE-2023-36052
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-700

#701 Rdcc 7218
  src/integrationTest/resources/db/testmigration/V1_90__elinks_insert_location_mapping_jrd_lrd.sql
  src/main/resources/db/migration/V1_89__elinks_insert_location_mapping_jrd_lrd.sql
Labels: ns:rd, prd:rd, enable_keep_helm, rel:rd-judicial-api-pr-701

#684 Rdcc 7099
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinksPeopleNullBaseLocationID.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/InvalidCategoryKeyNotFountInlocIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/PeopleAppointmentTypeNullIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/PeopleTribunalsParentIdNullIntegrationTest.java
  src/integrationTest/resources/wiremock_responses/BaselocationIdNullPeople.json
  src/integrationTest/resources/wiremock_responses/InvalidBaseLocationId.json
  src/integrationTest/resources/wiremock_responses/People_ParentIDNull.json
  src/integrationTest/resources/wiremock_responses/People_TypeNull.json
  src/integrationTest/resources/wiremock_responses/location_nullParentID.json
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/repository/BaseLocationRepository.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/RefDataElinksConstants.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ELinksServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImplTest.java
Labels: ns:rd, prd:rd, enable_keep_helm, rel:rd-judicial-api-pr-684

#708 Dtsrd-1257. correcting DB_READER_USERNAME
  charts/rd-judicial-api/Chart.yaml
  charts/rd-judicial-api/values.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-708

#709 eLinks : Data model changes for eLinks V5.0
  src/integrationTest/resources/db/testmigration/V1_92__elinks_alter_judicial_user_profile.sql
  src/integrationTest/resources/wiremock_responses/people.json
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/domain/UserProfile.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1_91__elinks_alter_judicial_user_profile.sql
Labels: ns:rd, prd:rd, enable_keep_helm, rel:rd-judicial-api-pr-709
