Repository hmcts/rd-judicial-api, pull requests merged in 2024-05, with the labels that each got.

#780 Update schema ownership
  infrastructure/main.tf
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-780, aat/destroy, prod/destroy

#798 Update schema ownership
  infrastructure/main.tf
Labels: ns:rd, prd:rd, aat/no-changes, prod/destroy, rel:rd-judicial-api-pr-798

#802 DTSRD-2750.decommissioning single server
  charts/rd-judicial-api/Chart.yaml
  charts/rd-judicial-api/values.yaml
  infrastructure/main.tf
  infrastructure/terraform.tf
Labels: ns:rd, prd:rd, aat/destroy, prod/destroy, rel:rd-judicial-api-pr-802

#803 Dtsrd 2750
  charts/rd-judicial-api/Chart.yaml
  charts/rd-judicial-api/values.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-803

#804 fix flyway migration issues and checkstyle issues
  build.gradle
  config/checkstyle/checkstyle.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/contractTest/java/uk/gov/hmcts/reform/judicialapi/provider/JrdApiProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/judicialapi/provider/JrdApiProviderV2Test.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/RefreshUserProfileIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/CheckForSearchV2UsersIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/JrdUsersController.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/TestingSupportController.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/controller/advice/ExceptionMapper.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/controller/JrdElinkController.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/feign/ElinksFeignClient.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/SqlConstants.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/SqlContants.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/feign/LocationReferenceDataFeignClient.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-804

#807 Fix db migration issues
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-807

#814 Update terraform.tf - upgrading azurerm version
  infrastructure/terraform.tf
Labels: ns:rd, prd:rd, aat/no-changes, prod/destroy, rel:rd-judicial-api-pr-814

#817 Disable spot instances
  charts/rd-judicial-api/Chart.yaml
  charts/rd-judicial-api/values.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-817
