Repository hmcts/rd-judicial-api, pull requests merged in 2024-01, with the labels that each got.

#738 DTSRD-1893.Upgrading main branch to V16 and adding subnet_suffix
  Jenkinsfile_CNP
  infrastructure/main.tf
  infrastructure/terraform.tf
  infrastructure/variables.tf
Labels: ns:rd, prd:rd, add-or-update, rel:rd-judicial-api-pr-738

#737 Rdcc test
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/util/SendEmail.java
Labels: ns:rd, prd:rd, no-changes, enable_keep_helm, rel:rd-judicial-api-pr-737

#741 correcting error message
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ElinksPeopleServiceImpl.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-741

#719 ssoid sidam update with or without null
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/DeletedIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinksEndToEndIntegrationForExistingObjectId.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinksEndToEndIntegrationForSidamIdisPresent.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinksSsoidEndIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/LeaversIntegrationTest.java
  src/integrationTest/resources/db/testmigration/V1_93__insert_judicial_user_profile.sql
  src/integrationTest/resources/wiremock_responses/idamResponsefromSsoId.json
  src/integrationTest/resources/wiremock_responses/testssoid_people.json
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/repository/ProfileRepository.java
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-719

#711 elinks:make active flag false in user profile when profile received in elinks deleted api
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/DeletedIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinksEndToEndIntegrationForExistingObjectId.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinksEndToEndIntegrationPartialTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/judicialapi/elinks/ElinksEndToEndIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/judicialapi/elinks/service/impl/ELinksServiceImpl.java
Labels: ns:rd, prd:rd, enable_keep_helm, rel:rd-judicial-api-pr-711

#744 Rdcc 7287
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, enable_keep_helm, rel:rd-judicial-api-pr-744

#745 Add Family Winger Authorisation code
  src/integrationTest/resources/db/testmigration/V1_96__elinks_insert_service_code_mapping.sql
  src/main/resources/db/migration/V1_94__elinks_insert_service_code_mapping.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-745
