Repository hmcts/rd-judicial-api, pull requests merged in 2024-04, with the labels that each got.

#763 DTSRD-2442: PI33 Configure spot instances in non-production
  charts/rd-judicial-api/Chart.yaml
  charts/rd-judicial-api/values.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-763

#764 DTSRD-2525: Upgrade chat version
  charts/rd-judicial-api/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-764

#771 Create user role if not exists
  src/main/resources/db/migration/V1_88__elinks_grant_access_dbjudicialdata.sql
  src/main/resources/db/migration/V1_97__elinks_grant_access_dbjudicialdata.sql
Labels: ns:rd, prd:rd, aat/no-changes, rel:rd-judicial-api-pr-771

#774 Fix DB migration issue
  charts/rd-judicial-api/Chart.yaml
  src/main/resources/db/migration/V1_87.1__elinks_create_db_read_usser.sql
  src/main/resources/db/migration/V1_88__elinks_grant_access_dbjudicialdata.sql
Labels: ns:rd, prd:rd, aat/no-changes, rel:rd-judicial-api-pr-774

#776 Dtsrd 2525: Fix Db Migration issue
  src/main/resources/db/migration/V1_87_1__elinks_create_db_read_usser.sql
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-776

#779 Fix azure extensions
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:rd, prd:rd, aat/add-or-update, rel:rd-judicial-api-pr-779

#796 Update pitest
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-796

#797 fixing nightly builds zaproxy error
  audit.json
Labels: ns:rd, prd:rd, rel:rd-judicial-api-pr-797
